/* Element-based Child Selector */
.parent > p{
    color: blue;
    font-style: italic;
}
/* ID-based Child-Selector */
.parent > #announcement{
    background-color: darkcyan;
}
/* Element-based Child Selector - Section directly under .parent */
.parent > section{
    font-size: 18px;
}
.parent >ul{
    color: red;
    list-style-type: square;
}
.menu > ul{
    list-style-type: circle;
}
div > span{
    color: green;
    font-weight: bold;
}
div >ul >li{
    color: red;
    font-weight: bold;
}
div > ul >#itemjquery{
    color: blue;
}